* {
  font: "Monospace";
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

.box {
  background-color: rgb(16, 227, 216);
  height: 250px;
}

@media only screen and (maxwidth: 900px) {
  .container {
    grid-template-columns: repeat(2, 1fr)
  }
}

@media only screen and (max-width: 600px;) {
  .container {
    grid-template-columns: repeat(1, 1fr)
  }
}
